
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>


<h3>Task description: <%= @task.description %></h3>

<div class="block">
  <p>leave a comment?</p>
</div>
<div>
<%# TODO[Jose]: fix this, create currnt_user concept %>
    <%= render partial: 'comments/form', locals: { path: comments_path, action: :post, comment: Comment.new(commentable_id: @task.id, commentable_type: 'Task' ) } %>
</div>

<h2>Comments:</h2>
<div>
  <%= render @task.comments %>
</div>

<div>
  <%= link_to 'View All Tasks', tasks_path %>
</div>
